# VSCode
/.vscode

# macOS & Xcode
*.db
*.user
*.opendb
/Debug/
/Release/
.DS_Store
*xcuserdatad*
*.xccheckout
*.stackdump

# This projects
Chapter14/Assets/Saved.gplevel
Chapter14/Assets/*.bin

# オリジナルのソースコード
/code-master/

