<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-02-28T05:59:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/inoueshinichi/Desktop/MyGithub/Book_GameProgramming/GPC_Ch05/GPC_Ch05.xcodeproj</string>
</dict>
</plist>
